* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1440px;
  min-width: 300px;
  margin: auto;
}
#root {
  margin: auto;
  min-width: 300px;
}
:root {
  --primary-font: "Josefin Sans", sans-serif;
  --second-font: "Alata", sans-serif;
}
.hamburger-links {
  display: none;
}
.navbar-container {
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.ham-btn {
  display: none;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.37);
  height: 700px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  margin-left: 6.5rem;
  margin-right: 6.5rem;
  align-items: center;
}

.links {
  display: flex;
  gap: 1.5rem;
}

.ham-links {
  display: none;
}
a {
  text-decoration: none;
}

.links a {
  color: #fff;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 600;
}

.hero-heading {
  width: 40rem;
  height: 18rem;
  border: 2px solid #fff;
  margin-left: 10rem;
  margin-top: 6rem;
}
.hero-heading h1 {
  color: #fff;
  padding: 3rem;
  font-family: var(--primary-font);
  font-size: 4rem;
  font-weight: 400;
  word-wrap: break-word;
}

.content-one {
  margin-top: 10rem;
  height: 40rem;
}

.interactive-img-container {
  margin-left: 10rem;
}
.interactive-img-container img {
  width: 39vw;
}

.interactive-text-container {
  position: relative;
  bottom: 15vw;
  background-color: #fff;
  width: 30vw;
  left: 38vw;
  height: 15vw;
  word-wrap: break-word;
}

.interactive-text-container h1,
p {
  margin-left: 5vw;
}
.interactive-text-container h1 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 3rem;
  padding-top: 4vw;
  margin-bottom: 2vw;
}

.interactive-text-container p {
  font-family: var(--second-font);
  color: hsl(0, 0%, 55%);

  word-wrap: break-word;
}
.interactive-paragraph {
  word-wrap: break-word;
}

.creation {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
}

.creation h1 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 3rem;
}

.creation button {
  border: 2px solid hsl(0, 0%, 55%);
  border-radius: 3px;
  background-color: #fff;
  width: 10rem;
  height: 2.8rem;
  transition: 0.1s ease-in;
}

.creation button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid black;
}
.creation button:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(0.98);
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5rem;
}
.movie {
  margin: auto;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  height: 28.1rem;
  margin-bottom: 2rem;
}
.footer {
  margin-top: 5rem;
}

.movie:hover {
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  transform: scale(1.03);
}

.movie h2 {
  position: relative;
  bottom: 5rem;
  color: #fff;
  font-family: var(--primary-font);
  left: 1.5rem;
  font-weight: 400;
  font-size: 2rem;
  width: 9ch;
}

.footer {
  background-color: black;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer-logo {
  margin-bottom: 1rem;
}
.footer-links a {
  color: #fff;
  margin-right: 1rem;
  font-family: var(--primary-font);
}
.footer-icon-links {
  display: flex;
  justify-content: flex-end;
}
.footer-logo-links img {
  margin-bottom: 1rem;
}

.footer-icon-links img {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.footer-icons p {
  font-family: var(--primary-font);
}

@media (max-width: 1150px) {
  .movie-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .movie {
    padding: 0;
  }

  .content-one {
    display: flex;
    flex-direction: column;
    height: 1000px;
    margin-top: 0;
  }
  .interactive-text-container {
    position: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: transparent;
    width: 60%;
    left: 0;
    bottom: 0;
    align-items: center;
    margin-bottom: 7rem;
    text-align: center;
    padding: 1rem;
  }
  .interactive-img-container img {
    padding: 0;
    position: none;
    width: 100%;
  }
  .interactive-img-container {
    margin-left: 0;
    position: none;
    margin: auto;
  }

  .interactive-text-container h1 {
    width: auto;
    padding-top: 0;
  }
}
@media (max-width: 955px) {
  .links {
    display: none;
  }
  .hamburger-links {
    background-color: black;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100%;
    flex-direction: column;
    top: -1px;
  }

  .hamburger-close-div {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
  }

  .hamburger-close-div img {
    height: 20px;
  }

  .hamburger-links a {
    padding: 1rem;
    margin: 0.5rem;
    font-size: 2rem;
    border: none;
    color: #fff;
    margin-bottom: 1rem;
    font-family: var(--primary-font);
  }

  .movie-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .creation {
    flex-direction: column;
    align-items: center;
  }
  .creation h1 {
    margin-bottom: 1rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
  }
  .footer-icon-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    margin-bottom: 3rem;
  }
  .footer-icon-links img {
    margin: auto;
  }

  .footer-paragraph {
    margin: auto;
  }

  .footer-logo-links img {
    padding: 2rem;
  }

  .footer-logo-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-heading {
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
    width: auto;
    height: auto;
    margin: 1rem;
    margin-top: 7rem;
  }

  .hero-heading h1 {
    padding: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin: auto;
  }
  .ham-btn {
    display: block;

    cursor: pointer;
  }
  .overlay {
    height: 650px;
  }

  .navbar-container {
    height: 650px;
  }
}

@media (max-width: 575px) {
  .movie-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 447px) {
  .interactive-text-container {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .interactive-img-container {
    margin-bottom: 10rem;
  }
  .interactive-text-container h1,
  p {
    margin-left: 0;
    word-wrap: break-word;
  }

  .interactive-text-container h1,
  .creation h1 {
    font-size: 9vw;
  }

  .interactive-text-container p {
    font-size: 4vw;
  }
  .content-one {
    height: auto;
  }

  .footer-logo-links img {
    width: fit-content;
    margin: auto;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-icon-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-icon-links img {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 1rem;
  }
  .hero-heading h1 {
    font-size: 3rem;
  }
  .navbar-container,
  .overlay {
    height: 500px;
  }
}
